/* Add your code in each class */
body {
  background-color: rgb(30, 0, 29);
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.movie-card {
  width: 200px;
  height: 350px;
}
.movie-image {
  max-height: 100%;
  max-width: 100%;
}
.movie-details-container {
}
.descriptions {
  color: white;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
}
